#main-content {
    background-color: #fff;
    padding-bottom: 0;
}

#components {
    clear: both;
    margin: 20px 0 0; 
}

.repo-owner {
    display: flex;
}

.author_avatar{
    display: inline-block;
    border-radius: 100px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
}


.gallery {
    margin-top: 60px;
}


.repo_details{
    flex-basis:100%;    
}

.author_name {
    display: block;
}


.tab_content {
    margin:0 -20px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.tab_menu {
    padding: 0 40px;
    margin: 0 -20px;    
}

.tab_menu button{
    display: flex;
    align-items:center;
}

.tab_menu button::before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/component.svg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.tab_menu .modules button::before {
    background-image: url(../images/module.svg);
}
.tab_menu .data button::before {    
    background-image: url(../images/data.svg);

}
.tab_menu .helpers button::before {    
    background-image: url(../images/tools.svg);

}

.tab_menu .tab_menu__tab button {
    padding:10px 20px 8px 10px;
}
.tab_menu div.tab_menu__tab.selected {
    background-color: #f5f5f5;
}